<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Link Security Checker</title>
    
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <div class="container">
      <h1>🔗 Link Reliability & Security Checker</h1>
      <p>Enter a link below to check if it's safe before you visit it.</p>

      <div class="form">
        <input type="text" id="urlInput" placeholder="https://example.com" />
        <button id="scanBtn">Scan Link</button>
      </div>

      <div id="result" class="result-box hidden">
        <h2>Scan Result</h2>
        <p><strong>Verdict:</strong> <span id="verdict"></span></p>
      </div>
    </div>

    <footer>© 2025 Link Security Checker | Senior Design Group 54</footer>

   
  </body>
</html>
 